<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
<%- include('./partials/head.ejs') %>
</head>
<body>
	<!-- Header -->
	<header class="main-header">
	<%- include('./partials/header') %>
	</header>
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.nombre %></h2> 
			<p class="product-detail-description">
				<a href="/product-add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= producto.imagen %>" alt="<%= producto.nombre %>" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.descripcion %>
					</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let i = 0; i < producto.comentarios.length; i++) { 
							let comentario = producto.comentarios[i]; %>
						<article>
							<img src="<%= comentario.imagenPerfil %>" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/profile"><%= comentario.usuario %> </a> </strong>
									<%= comentario.texto %>
								</p>
							</div>
						</article>
						<% } %>
					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<footer class="main-footer"> 
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4">
          <article class="footer-data">
            <i class="fas fa-car"></i>
            <h2>Comprá tu auto en cuotas</h2>
            <p>Financiá tu auto nuevo o usado con planes flexibles y cuotas adaptadas a vos. ¡Rápido y seguro!</p>
          </article>
        </div>
        <div class="col-12 col-lg-4">
          <article class="footer-data">
            <i class="fas fa-tools"></i>
            <h2>Mantenimiento y servicios</h2>
            <p>Accedé a talleres y servicios de confianza. Mantené tu auto en óptimas condiciones sin complicaciones.</p>
          </article>
        </div>
        <div class="col-12 col-lg-4">
          <article class="footer-data">
            <i class="fas fa-shield-alt"></i>
            <h2>Seguridad en cada compra</h2>
            <p>Protección en cada transacción y garantía en los vehículos. Comprá con confianza y tranquilidad.</p>
          </article>
        </div>
      </div>
    </div>
  </footer>
	<!-- /footer -->

</body>	
</html>